.mainchild {
    background-color: #1d2a35;
    overflow-y: auto;
    min-height: calc(100vh - 98.667px);
    height: calc(100vh - 98.667px);
}


/* +++++++++++++ SubNav ++++++++++++++ */

.subnavhover:hover {
    background-color: #14161c;
}

.no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}


/* +++++++++++++ SubNav ++++++++++++++ */